body {
  margin: 0px;
  font-family: monospace;
  font-size: 16px;
}

canvas {
  position: absolute;
  border: 0px;
}

#canvas {
  background: rgb(200, 200, 200);
}

.layer {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
}

.outer {
  background: rgba(0, 0, 0, 0.5);
  margin: 10px auto;
  padding: 10px;
  border-radius: 20px;
}

.inner {
  background: rgba(255, 255, 255, 1);
  padding: 10px;
  border-radius: 10px;
}

.blob {
  color: white;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  padding: 4px 6px 4px 6px;
  border-radius: 5px;

  -webkit-user-select: none;  /* stop highlighting */
  -moz-user-select: none;
  -ms-user-select: none;
}

.spacer {
  width: 10px;
  height: 10px;
}

.hover:hover {
  background: rgba(0, 0, 0, 0.5);
}

#start {
  width: 300px;
  margin: 10px auto;
}

#title {
  width: 300px;
}

#rules {
  width: 300px;
  color: black;
}

#browse {
  width: 300px;
}

#leaderboard {
  margin: 10px;
  position: absolute;
  width: 250px;
}

#info {
  margin: 10px;
  position: absolute;
  width: 350px;
  bottom: 0px;
}

.text-rank {
  text-align: left;
  width: 30px;
  float: left;
}

.text-left {
  float: left;
}

.text-right {
  float: right;
}
