body {
  margin: 0px;
  font-family: monospace;
  font-size: 16px;

}

:focus {
  outline: none;
}

canvas {
  position: absolute;
  border: 0px;
  background: black;
}

.layer {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
}

.outer {
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  margin: 10px auto;
  border-radius: 20px;
}

.inner {
  overflow: auto;
  background: white;
  margin: 10px;
  border-radius: 10px;
}

.blob {
  color: white;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  padding: 4px 6px 4px 6px;
  margin: 10px;
  border-radius: 7px;
}

.piece {
  display: inline-block;
  height: 27px;
  width: 27px;
  margin: 5px;
  border-radius: 7px;
}

.hover:hover {
  background: rgba(0, 0, 0, 0.5);
}

input[type=text] {
  display: block;
  font-size: 16px;
  font-family: monospace;
  text-align: center;
  width: 260px;
  border-style: none;
  box-shadow: none;
}

#start {
  width: 300px;
  margin: 10px auto;
}

#title {
  width: 300px;
}

#colors {
  margin: 10px;
}

#rules {
  width: 300px;
  color: black;
}

#browse {
  width: 300px;
}

#create {
  width: 300px;
}

#join {
  width: 300px;
}

#leaderboard {
  margin: 10px;
  position: absolute;
  width: 280px;
}

#info {
  margin: 10px;
  position: absolute;
  width: 400px;
  bottom: 0px;
}

#go-settings {
  position: absolute;
  right: 0px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
  margin: 10px;
}

#settings {
  width: 300px;
}

.text-rank {
  text-align: left;
  width: 35px;
  float: left;
}

.text-id {
  text-align: left;
  width: 35px;
  float: left;
}

.text-left {
  float: left;
}

.text-right {
  float: right;
}

.good {
  background: green;
}

.bad {
  background: red;
}

.neutral {
  background: white;
  color: black;
}

.input {
  background: rgba(0, 0, 0, 0.5);
}

.blob:not(.input) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
